{% extends 'layout.html' %}

{% block title %}
    {{ chat.userTo }}
{% endblock %}

{% block content %}
    <h2>Chat with {{ chat.userTo }}</h2>
    <div class="chat-container">
            {% for message in messages %}
                {% if message.userFrom == request.user %}
                    <p class="sent sent-from">{{ message.body}}</p>
                {% else %}
                    <p class="sent sent-to">{{ message.body}}</p>
                {% endif %}
            {% endfor %}
    </div>
    <form action="{% url 'chats:chat' uuid=chat.id %}" method="post" novalidate>
        {% csrf_token %}
        {{ form }}
        <button class="send-button">Send</button>
    </form>
{% endblock %}