{% extends 'layout.html' %}

{% block title %}
    New Chat
{% endblock %}

{% block content %}
    <h2>START A NEW CHAT</h2>
    <form action="{% url 'chats:new' %}" method="post">
    {% csrf_token %}
        <select class="select-user" name="user">
            {% for user in users %}
                {% if user != request.user %}
                    <option value="{{ user.id }}">{{user.username}}</option>
                {% endif %}
            {% endfor %}
        </select>
        {{ form }}
        <button class="form-submit">Start Chat</button>
    </form>
{% endblock %}